body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #14163c;
  height: 1000px;
}

.App {
  color: aliceblue;
  position: relative;
}
.fon {
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    rgba(255, 255, 255, 0.13) 10px,
    rgba(255, 255, 255, 0.103) 10%,
    #14163c 50%
  );
  z-index: -2;
}
.Game {
  width: 800px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 700;
}

.Game__user {
  text-align: center;
}

.Game__result {
  margin-top: 120px;
  text-align: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 0px 8px 1px 1px rgba(160, 160, 160, 0.733);
}

.circle:hover {
  animation: shaking 0.5s infinite;
}

.circleBlock {
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

.button {
  background-color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.img {
  margin-top: 30px;
  width: 60px;
  height: 80px;
}

.image {
  margin-top: 30px;
  width: 100px;
  height: 120px;
}

.margin {
  margin: 50px auto;
}

.Choice__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Choice__rock {
  border: 25px #dc2e4f solid;
}

.Choice__paper {
  border: 25px #4965f4 solid;
}

.Choice__scissors {
  border: 25px #ed9d10 solid;
}

.Choice__lizard {
  border: 25px #078d24f8 solid;
}

.Choice__spock {
  border: 25px #c007eeef solid;
}

@keyframes shaking {
  0% {
    transform: scale(1.05) rotate(0deg);
  }
  25% {
    transform: scale(1.05) rotate(5deg);
  }
  50% {
    transform: scale(1.05) rotate(0eg);
  }
  75% {
    transform: scale(1.05) rotate(-5deg);
  }
  100% {
    transform: scale(1.05) rotate(0deg);
  }
}

@media (max-width: 800px) {
  .Check {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .circle {
    width: 80px;
    height: 80px;
  }
  .img {
    margin-top: 10px;
    width: 40px;
    height: 60px;
  }

  .Choice__rock {
    border: 15px #dc2e4f solid;
  }

  .Choice__paper {
    border: 15px #4965f4 solid;
  }

  .Choice__scissors {
    border: 15px #ed9d10 solid;
  }

  .Choice__lizard {
    border: 15px #078d24f8 solid;
  }

  .Choice__spock {
    border: 15px #c007eeef solid;
  }

  .Game {
    width: 80%;
    font-size: 10px;
  }

  .Game__result {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circleBlock {
    position: absolute;
    top: 260px;
    width: 80px;
    height: 80px;
  }
  .button {
    font-size: 10px;
  }
  .image {
    margin-top: 10px;
    width: 40px;
    height: 50px;
  }
}
